!!! 5
head
  meta(charset='utf-8')
  title Express CoffeeScript Template
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  // CSS
  != css("bootstrap")
  != css('app')
  
  != js('//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  != js('app')
  block headers

body

  block content